   
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  
}
body {
  display: flex;
  justify-content: center;
  position: relative;
  background: gray;
}
input {
    width: 75vw;
    height: 50px; 
    border: 2px solid mediumblue;
    font-size: 20px;
    border-radius: 12px;
}